<div class="container">
  <p-inputSwitch [(ngModel)]="l_Checked" styleClass="my-inputswitch" />
  <h2>Task</h2>
  <form (ngSubmit)="onSubmit()">
      <div class="form-group">
          <label for="taskname">Task name:</label>
          <br>
          <input type="text" pInputText [(ngModel)]="l_model.taskName" name="taskName"/>
      </div>
      <div class="form-group">
          <label for="description">Description:</label>
          <br>
          <input type="text" pInputText [(ngModel)]="l_model.description" name="description"/>
      </div>
      <div class="form-group">
          <label for="date" style="margin-bottom: 10px;">Date:</label>
          <br>
          <p-calendar [(ngModel)]="l_model.dueDate"  type="date" name="date" required></p-calendar>
      </div>
      @if (l_Checked == true) {
        <p-button label="Create" [rounded]="true" severity="Success" type="submit"></p-button>
      }
      @else {
        <!-- <p-button label="Update" [rounded]="true" severity="warning" type="submit"></p-button> -->
      }
  </form>
</div>