<app-Task (messageEvent)="receiveMessage($event)"></app-Task>

<p-pickList [source]="tasks" [target]="targetTask" sourceHeader="Available" targetHeader="Selected" [dragdrop]="true" [responsive]="true" 
    [sourceStyle]="{ height: '30rem' }" [targetStyle]="{ height: '30rem' }" breakpoint="1400px" #pickList (click)="onPickListFocus()">
    <ng-template let-tasks pTemplate="item">
        <div class="flex flex-wrap p-2 align-items-center gap-3">
            <div class="flex-1 flex flex-column gap-2">
                <span class="font-bold">{{ tasks.taskName }}</span>
                <div class="flex align-items-center gap-2">
                    <i class="pi pi-tag text-sm"></i>
                    <span>{{ tasks.description }}</span>
                </div>
            </div>
            <span class="font-bold text-900">{{ '$' + tasks.dueDate }}</span>
        </div>
    </ng-template>
</p-pickList>