::ng-deep .product-item {
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 100%;
}

::ng-deep .product-item img {
    width: 75px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 1rem;
}

::ng-deep .product-item .product-list-detail {
    flex: 1 1 0;
    /* max-width: 600px; */
}

::ng-deep .product-item .product-list-action {

    flex-direction: column;
    align-items: flex-end;
}

::ng-deep .product-item .product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
}

::ng-deep .product-item .product-category {
    vertical-align: middle;
    line-height: 1;
}

@media screen and (max-width: 576px) {
    .product-item {
        flex-wrap: wrap;
    }

    .product-item .image-container {
        width: 100%;
        text-align: center;
    }

    .product-item img {
        margin: 0 0 1rem 0;
        width: 100px;
    }
}

::ng-deep .custom-badge {
    position: relative;
    bottom: -10px;
    float: right;
    margin-left: 5px
}

::ng-deep .p-picklist-filter-container {
    display: none;
}

::ng-deep .p-picklist-buttons>button:nth-child(1),
::ng-deep .p-picklist-buttons>button:nth-child(2),
::ng-deep .p-picklist-buttons>button:nth-child(3),
::ng-deep .p-picklist-buttons>button:nth-child(4) {
    display: none;
}

::ng-deep  .d-flex {
    display: flex !important;
    align-items: center;
}